{% extends 'base.html' %}

{% block title %}Sobre Mim{% endblock title %}

{% block content %}

<div class="container my-3">
    <h3>Quem sou</h3>

    <p> Desenvolvedor Python que passa seu tempo livre tentando aprender a desenhar e falhando miseravelmente</p>

    <h3>Sobre mim</h3>
                    
    <p>Desenvolvedor Python com exposição a uma ampla variedade de ambientes e uma diversidade de desafios.</p>

    <p> Apaixonado por usar tecnologia para melhorar a vida das pessoas. Arquitetar projetos de software e desenvolver as melhores soluções com código limpo e de alta qualidade</p>

    <h3>Onde me achar</h3>
    <a target="_blank" href="#">Email: pedro.hasler@gmail.com</a><br>
    <a target="_blank" href="https://www.linkedin.com/in/pedrofhasler/">LinkedIn: @pedrofhasler</a><br>
    <a target="_blank" href="https://github.com/pedrofhasler">GitHub: @pedrofhasler</a><br>
    <a target="_blank" href="https://www.kaggle.com/pedrofhasler">Kaggle: @pedrofhasler</a><br>
</div>

{% endblock content %}